<template>
  <div class="site-nav--placeholder navbar-fixed">
    <nav class="white siteNav">
      <thesidenav></thesidenav>

      <div class="nav-wrapper siteMax">
        <div class="thesidenavTrigger">
          <a data-target="slide-out">
            <i
              @click="instance.open(), toogleSidenav()"
              class="material-icons black-text"
              >menu</i
            >
            <!-- <i
              v-if="sideopen"
              @click="instance.close(), toogleSidenav()"
              class="material-icons black-text"
              >close</i
            > -->
          </a>
        </div>
        <div class="siteLogo">
          <div class="logoText">EASTERN CARIBBEAN</div>
          <img
            class="customImage"
            src="../assets/logox2.png"
            width="32px"
            alt="Eastern caribbean telelcommunications Authority"
          />
        </div>
        <ul class="right">
          <li>
            <a style="cursor: pointer" @click="_showSearch()">
              <i
                class="material-icons grey-text text-darken-3 outlined"
                v-if="!searchState"
                >search</i
              >
              <i class="material-icons grey-text text-darken-3 outlined" v-else
                >close</i
              >
            </a>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down remove_child">
          <li v-for="(item, id) in menItems" :key="id">
            <thedropdown :data-link="true" :item="item"> </thedropdown>
            <!-- <a :href="item.url"><span  class="grey-text text-darken-3" v-html="item.title"></span></a> -->
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import thedropdown from "./thedropdown.vue";
import axios from "axios";
import thesidenav from "./thesidenav.vue";
export default {
  name: "navBar",
  components: {
    thesidenav,
    thedropdown,
  },
  computed: {
    styles: {
      get() {
        return this.sheet.classes;
      },
    },
  },
  data() {
    return {
      sidenav: {
        instance: null,
        options: {},
      },
      searchState: false,
      menItems: false,
      sheet: false,
      sideopen: false,
    };
  },
  mounted() {
    this.$_getNavItems();
    this.$_initsidenav();
  },
  methods: {
    _showSearch() {
      this.searchState ? (this.searchState = false) : (this.searchState = true);
    },
    $_getNavItems() {
      const url = `https://www.ectel.int/wp-json/menus/v1/menus/menu-main`;
      axios.get(url).then((res) => {
        window.localStorage.setItem("mainMenu", JSON.stringify(res.data.items));
        this.menItems = res.data.items;
      });
    },
    $_initsidenav() {
      let ele = document.querySelector(".sidenav");
      this.instance = M.Sidenav.init(ele, this.sidenav.options);
    },
    openSidenav() {
      this.sidenav.instance.open();
    },
    toogleSidenav() {
      if (this.sideopen == false) {
        this.sideopen = true;
      } else {
        this.sideopen = false;
      }
    },
  },
};
</script>
<style scoped>
@font-face {
  font-family: Source Sans Pro;
  src: url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap);
}
thedropdown {
  height: 400px;
  width: 200px;
}
.siteMax {
  max-width: 1360px;
  margin: 0px auto;
}
.siteLogo {
  position: absolute;
  line-height: 57px;
  color: rgba(0, 0, 0, 0.66);
  font-weight: 600;
  left: 160px;
  top: -4px;
  height: 64px;
}
.topLevel {
  letter-spacing: 1px;
  font-size: 16px;
}
.logoText {
  font-size: 18px;
  font-weight: 900;
  font-family: sans-serif;
  letter-spacing: -2px;
}
.logoText::after {
  content: "Telecommunications Authority";
  font-size: 13px;
  position: absolute;
  bottom: 13px;
  white-space: nowrap;
  width: 100%;
  letter-spacing: normal;
  left: 0px;
  line-height: 1;
  font-weight: 400;
  @media screen and (max-width: 768px) : {
    display: none;
  }
}
.siteNav {
  box-shadow: 0 0 4px rgba(0, 0, 0.1) 0 4px 8px rgba(0, 0, 0.1);
  top: 36px;
  z-index: 5 !important;
}
.customImage {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 190px;
  top: 10px;
}
.thesidenavTrigger {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 12px;
  margin-bottom: 5px;
  z-index: 1;
}
.thesidenavTrigger:hover {
  cursor: pointer !important;
}
@media only screen and (max-width: 1360px) {
  .logoText {
    display: none;
  }
  .customImage {
    right: 40px;
  }
  .remove_child li:nth-child(2){
    display:none;
  }
}
</style>