<template>
  <div class="thecarousel">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"
        ><img src="../assets/sliderimg.png"
      /></a>
    </div>
  </div>
</template>
<script>
export default {
  name: "thecarousel",
  data() {
    return {
      carousel: {
        instance: null,
        options: {
          indicators: true,
          fullWidth: true,
        },
      },
    };
  },

  methods: {
    $_initcarousel() {
      let ele = document.querySelector(".carousel");
      this.instance = M.Carousel.init(ele, this.carousel.options);
    },
  },
  mounted() {
    this.$_initcarousel();
  },
};
</script>
<style scoped>
.thecarousel {
  height: 800px !important;
  max-width: 1360px;
  margin: 0px auto;
}
.carousel-item {
  position: relative !important;
  top: 10px !important;
  height: 800px !important;
}
</style>