<template>
  <div>
    <div
      @mouseover="dropDown.instance.open()"
      @mouseleave="dropDown.instance.close()"
      class="thedropdown"
      ref="trigger"
    >
      <a
        :data-target="item.title + dropdownID"
        class="text-black dropdown-trigger"
        @click="$_trigger(item.url)"
        :href="item.url"
      >
        <span class="grey-text text-darken-3">{{
          item.title.toUpperCase()
        }}</span>
      </a>
    </div>
    <div>
      <ul :id="item.title + dropdownID" class="dropdown-content">
        <li v-for="{ title, url, ID } in item.child_items" :key="ID">
          <a class="black-text" :href="url">{{ title }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "thedropdown",
  props: {
    dataLink: {
      type: Boolean,
      default: false,
    },
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      dropDown: {
        instance: null,
        options: {},
      },
      dropdownID: Math.random().toString(36).substr(2, 9),
    };
  },
  mounted() {
    this.$_initDropdown();
    // console.table(this.item);
  },
  beforeDestroy() {
    this.dropDown.instance.destroy();
  },
  methods: {
    $_initDropdown() {
      let ele = this.$el.querySelector(".dropdown-trigger");
      this.dropDown.instance = M.Dropdown.init(ele, this.dropDown.options);
    },
    $_trigger(a) {
      this.dataLink ? (window.location.href = a) : "";
    },
  },
};
</script>
<style scoped>
.dropdown-content {
  top: 65px !important;
  position: absolute;
  width: 200px !important;
}
</style>