<template>
  <div class="thesidenav">
    <ul id="slide-out" class="sidenav">
      <li
        class="sideItems"
        v-for="(item, index) in menuItems.slice(slice_value, slice_value2)"
        :key="index"
      >
        <a href="#" class="grey-text text-darken-4">
          <i
            class="material-icons right"
            v-if="
              (slice_value == 0) &
              (slice_value2 == 6) &
              (item.title != 'Consultations')
            "
            @click="sliceFilter(index)"
            >keyboard_arrow_down</i
          >
          <i
            v-if="singleOut"
            class="material-icons right"
            @click="sliceFilter(), (slice_value = 0), (slice_value2 = 6)"
            >keyboard_arrow_up
          </i>
          <span v-html="item.title">></span>
        </a>
        <ul :id="item.title + dropdownID" v-if="singleOut">
          <li v-for="{ title, url, id } in item.child_items" :key="id">
            <a class="black-text" :href="url">{{ title }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<script>
import axios from "axios";
import thedropdown from "./thedropdown.vue";
export default {
  name: "thesidenav",
  data() {
    return {
      sidenav: {
        instance: null,
        options: {},
      },
      menuItems: [],
      dropdownID: Math.random().toString(36).substr(2, 9),
      slice_value: 0,
      slice_value2: 6,
      singleOut: false,
    };
  },
  components: {
    thedropdown,
  },
  mounted() {
    this.$_getNavItems();
    console.log(this.menuItems.slice(0));
  },
  methods: {
    $_getNavItems() {
      const url = `https://www.ectel.int/wp-json/menus/v1/menus/menu-main`;
      axios.get(url).then((res) => {
        window.localStorage.setItem("mainMenu", JSON.stringify(res.data.items));
        this.menuItems = res.data.items;
      });
    },
    sliceFilter(subItem) {
      this.slice_value = subItem;
      this.slice_value2 = ++subItem;
      this.singleOut = this.singleOut ? false : true;
      console.log(this.singleOut);
    },
  },
};
</script>

<style scoped>
.sidenav {
  height: calc(100% - 100px) !important;
  z-index: -1 !important;
  top: 100.438px;
  padding: none;
}
.sidenav li a {
  padding: 0 15px;
  font-weight: 400;
}
.sideItems {
  margin-top: 15px;
  margin-left: 15px;
}
.sideLogo {
  margin: 40px 0px 15px 30px;
}
.line {
  width: 253px;
  height: 1px;
  background-color: #707070;
  margin: 0 auto;
}
.sideItems i {
  position: relative;
  left: 22px;
}
</style>