<template>
  <div id="app">
    <div class="blackBar">
      <div class="max_width">
        <ul class="left navContacts">
          <li>
            <i class="yellow-text material-icons">email</i>ectel@ectel.int
          </li>
          <li>
            <i class="yellow-text material-icons">phone</i>+1 758-458-170020
          </li>
        </ul>
        <ul class="right socialIcons">
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-youtube"></i></li>
        </ul>
      </div>
    </div>
    <navbar></navbar>
    <thecarousel></thecarousel>
  </div>
</template>

<script>
import M from "materialize-css";
import navbar from "./components/navbar.vue";
import thecarousel from "./components/thecarousel.vue";
export default {
  name: "App",
  components: {
    navbar,
    thecarousel,
  },
};
</script>

<style>
* {
  outline: none;
}
.sidenav-overlay {
  z-index: 0 !important;
}
.blackBar {
  position: fixed;
  height: 35px;
  width: 100%;
  z-index: 2;
  background-color: #172c30;
}
.blackBar li i {
  position: relative;
  top: 5px;
  padding-right: 5px;
  font-size: 24px;
}
.blackBar li {
  position: relative;
  bottom: 15px;
  margin: 0 10px;
  color: white;
  display: inline-block;
}
.max_width {
  max-width: 1360px;
  margin: 0px auto;
}
</style>
